body {
  background: url(../images/bg.jpg) rgba(0, 0, 0, 0.2);
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-blend-mode: multiply;
  /* width: 100%; */
  font-family: cursive;
  text-align: center;
  color: #fff;
}
.header h3 {
  padding: 15px;
  font-weight: 700;
  font-size: xx-large;
}

.header img {
  float: left;
  margin-left: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}